{% load bootstrap4 %}
 <script type="text/javascript">
   $('#demo-form2').submit(function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:$(this).attr("action"),
            data: $(this).serialize(),
            success: function(resp){
                if(resp == "success"){
                    alert("Cambiaste tu contraseña correctamente! se actualizará la página");
                    window.location.href = '/';
                }
                if(resp == "error"){
                    alert("Error ingrese sus datos correctos");
                }
            }
        });
    });
 </script>
 <form method="POST" action="/change-password/{{request.user.id}}" role="form" class="form-horizontal" id="demo-form2" data-parsley-validate >{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
       <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Enviar</button>
           <button type="button" class="btn btn-secondary btn-ms" data-dismiss="modal">Cancelar</button>
           <button type="reset" class="btn btn-warning btn-ms">Borrar</button>
       </div>
   {% endbuttons %}
  </form>