<div class="table-responsive">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" onclick="gestiosUsuarios('/registerNewUser','REGISTRAR NUEVO USUARIO')">
          <span class="">
  			Registrar Usuario
          </span>
    </button>
	<h5 colspan="6" align="center"><strong>LISTA DE USUARIOS REGISTRADOS EN EL SISTEMA</strong></h5>
    <table class="table table-hover table-striped table-responsive datatable thead-light table-sm" id="table-ingresos">
    <thead  class="success">
        <th style="width: 3%;">Nro</th>
        
        <th>USUARIO</th>
        <th>NOMBRE COMPLETO</th>
        <th>CORREO ELECTRONICO</th>
        <th>FECHA DE REGISTRO</th>
        {% if user.is_superuser %}
            <th>ESTADO</th>
        {% endif %}
    </thead>

    {% for i in users %}
            <tr>
                <td>
                {{forloop.counter}}       	
                </td>
                <td>{{i.username}}</td>
                <td>{{i.get_full_name|upper}}</td>
                <td>{{i.email}}</td>
                <td>{{i.date_joined|date:"l d M Y"}}</td>
                {% if user.is_superuser %}
                    {% if i.is_superuser %}
                    <td>
                        <button href="#" class="btn btn-success btn-sm" onclick="gestiosUsuarios('show-status-user/{{i.id}}','PRIVILEGIOS DEL USUARIO');" title="Opciones" data-toggle="modal" data-target="#staticBackdrop">Estado</button>
                    </td>
                    {% else %}
                        {% if i.is_staff %}
                            <td><button href="#" class="btn btn-warning btn-sm" onclick="gestiosUsuarios('show-status-user/{{i.id}}','PRIVILEGIOS DEL USUARIO');" title="Opciones" data-toggle="modal" data-target="#staticBackdrop">Estado</button></td>
                        {% else %}
                            {% if i.is_active %}
                                <td><button href="#" class="btn btn-danger btn-sm" onclick="gestiosUsuarios('show-status-user/{{i.id}}','PRIVILEGIOS DEL USUARIO');" title="Opciones" data-toggle="modal" data-target="#staticBackdrop">Estado</button></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </tr>
        {% empty %}

        <tr> <td colspan="6" align="center"><strong>No se encontró registros</strong></td> </tr>
    {% endfor %}
    </table>
</div>
<script type="text/javascript">
	function gestiosUsuarios(route,title){
		$(".modal .modal-title").text(title);
        $.ajax({
          type:'GET',
          url:route,
          success:function(resp){
            $(".modal .modal-body").html(resp);
          }
        });
      }
      
</script>