{% load bootstrap4 %}
 <script type="text/javascript">
   $('#demo-form2').submit(function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:$(this).attr("action"),
            data: $(this).serialize(),
            success: function(resp){
                $(".toast .alert-success").html(resp);
                $('.toast').toast({delay: 3000});
                $('.toast').toast('show');
                callData('/getUsers');
                $(".modal .close").click(); 
            },
            error: function (xhr, ajaxOptions, thrownError) {
              alert("Error al enviar intente nuevamente gracias");
            }
        });
    });
 </script>   
 <form method="POST" action="{% url 'myperfil' %}" role="form" class="form-horizontal" id="demo-form2" data-parsley-validate >
     {% csrf_token %}
     {% bootstrap_form user_form %}
     {% buttons %}
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-secondary btn-ms" data-dismiss="modal">Cancelar</button>
            <button type="reset" class="btn btn-warning btn-ms">Borrar</button>
        </div>
    {% endbuttons %}
  </form>
  